<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Tripega</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)">Destination</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)">Planning</a>
    </li>
  </ul>  
  <form class="form-inline" action="/action_page.php" >
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-success" type="submit">Search</button>
  </form>
</nav> -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Tripega</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link mynav" data-bs-toggle="modal" data-bs-target="#myModal">Destination</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Planning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">AboutUs</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>
<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
  </div>
  
  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/images/page1.jpg" alt="india" class="d-block" style="width:100%;height:50em;">
      <div class="carousel-caption">
        <h3>Palace</h3>
        <p>We had such a great time in India!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/images/page2.jpg" alt="india" class="d-block" style="width:100%;height:50em;">
      <div class="carousel-caption">
        <h3>Great India</h3>
        <p>We had such a great time in India!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/images/page3.jpg" alt="india" class="d-block" style="width:100%;height:50em;">
      <div class="carousel-caption">
        <h3>Taj</h3>
        <p>We had such a great time in India!</p>
      </div>
    </div>
    <div class="carousel-item active">
      <img src="/assets/images/page4.jpg" alt="india" class="d-block" style="width:100%;height:50em;">
      <div class="carousel-caption">
        <h3>Palace</h3>
        <p>We had such a great time in India!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/images/page5.jpg" alt="india" class="d-block" style="width:100%;height:50em;">
      <div class="carousel-caption">
        <h3>Palace</h3>
        <p>We had such a great time in India!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/images/page6.jpg" alt="india" class="d-block" style="width:100%;height:50em;">
      <div class="carousel-caption">
        <h3>Palace</h3>
        <p>We had such a great time in India!</p>
      </div>
    </div>
  </div>
  
  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<div class="container-fluid mt-3">
  <h3>Carousel Example</h3>
  <p>The following example shows how to create a basic carousel with indicators and controls.</p>
</div>
<div class="hidenav">Test</div>
<!-- The Modal -->
<div class="modal hidenav" id="myModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal"></button> -->
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div> -->

    </div>
  </div>
</div>
<router-outlet></router-outlet>
