<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Tripega</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item mynav">
          <a class="nav-link" data-bs-toggle="modal" data-bs-target="#myModal">Destination</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Planning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">AboutUs</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>
<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/images/page1.jpg" alt="india" class="d-block" style="width:100%;height:50em;">
      <div class="carousel-caption">
        <h3>Palace</h3>
        <p>We had such a great time in India!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/images/page2.jpg" alt="india" class="d-block" style="width:100%;height:50em;">
      <div class="carousel-caption">
        <h3>Great India</h3>
        <p>We had such a great time in India!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/images/page3.jpg" alt="india" class="d-block" style="width:100%;height:50em;">
      <div class="carousel-caption">
        <h3>Taj</h3>
        <p>We had such a great time in India!</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<div class="container-fluid mt-3">
  <h3>Carousel Example</h3>
  <p>The following example shows how to create a basic carousel with indicators and controls.</p>
</div>
<div class="">Test</div>
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-xl" data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">
    <div class="modal-content">

      <!-- Modal Header -->
      <!-- <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div> -->

      <!-- Modal body -->
      <div class="modal-body" style="height: 50em;">
        <div class="row">
          <div class="col-3 flex-column">
            <nav class="">
                <ul class="navbar-nav list-group">
                  <li class="list-group-item list-group-item-action active">
                    <a class="nav-link" href="#section1">North India</a>
                  </li>
                  <li class="list-group-item list-group-item-action">
                    <a class="nav-link" href="#section2">South India</a>
                  </li>
                  <li class="list-group-item list-group-item-action">
                    <a class="nav-link" href="#section3">West India</a>
                  </li>
                  <li class="list-group-item list-group-item-action">
                    <a class="nav-link" href="#section4">East India</a>
                  </li>
                  <li class="list-group-item list-group-item-action">
                    <a class="nav-link" href="#section5">Union Territories</a>
                  </li>
                </ul>
            </nav>
          </div>
          <div class="col-9" style="overflow: auto;height: 45em;">
            <div id="section1" class="container-fluid">
              <h1>North India</h1>
              @for (state of northStates; track state) {
              <div class="p-2">{{ state }}</div>
              }
            </div>

            <div id="section2" class="container-fluid">
              <h1>South India</h1>
              @for (state of southStates; track state) {
              <div class="p-2">{{ state }}</div>
              }
            </div>

            <div id="section3" class="container-fluid">
              <h1>West India</h1>
              @for (state of westStates; track state) {
              <div class="p-2">{{ state }}</div>
              }
            </div>
            <div id="section4" class="container-fluid">
              <h1>East India</h1>
              @for (state of eastStates; track state) {
              <div class="p-2">{{ state }}</div>
              }
            </div>
            <div id="section5" class="container-fluid">
              <h1>Union Territories</h1>
              @for (state of utStates; track state) {
              <div class="p-2">{{ state }}</div>
              }
            </div>
          </div>
        </div>
        <!-- <div class="btn-group-vertical">
          <button type="button" class="btn btn-light">North India</button>
          <button type="button" class="btn btn-light">South India</button>
          <button type="button" class="btn btn-light">East India</button>
          <button type="button" class="btn btn-light">West India</button>
        </div> -->
      </div>

      <!-- Modal footer -->
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div> -->

    </div>
  </div>
</div>
<router-outlet></router-outlet>